{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Stories - Tell your life with pictures</title>
		<link href="{% static "css/main.css" %}" rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/addstory.js" %}"></script>
		</head>
	<body>

		<h1><a href='/storiesapp/home/'><font color='black'>Stories</font></a> - A new way to tell your life story</h1>
		<p><strong>{{ user.first_name }} {{ user.last_name }}</strong> - {{ user.username }}<br>
		{{ user.profile.bio }} </p>
		<a href='/storiesapp/add_story'>Tell a story</a><br />
		<a href='/storiesapp/logout/'>Logout</a><br /><br />
		{% if stories %}
			{% for story in stories %}
				<div class='story'>
					<b>{{ story.title }}</b> by {{ story.user.username }}<br>
					{% for photo in photos %}
						{% if photo.story_id == story.id %}
						
							<img style='width: 224px; height: 224px;' src="{{ MEDIA_URL }}{{ photo.picture }}"><br>
							{{ photo.caption }}<br>
						{% endif %}
					{% endfor %}
				</div><br>
			{% endfor %}
		{% else %}
			<font>You haven't told any stories yet.</font>
		{% endif %}
	</body>
</html>