{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Stories - Tell your life with pictures</title>
		<link href="{% static "css/main.css" %}" rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/addstory.js" %}"></script>
		</head>
	<body>

		<h1><a href='/storiesapp/'><font color='black'>Stories</font></a> - Login to your account</h1>
		<p>Your life isn't a straight timeline. It's organic. It's all over the place. Tell that story with Stories, with clips of pictures that say everything.</p>
		<form id='login_form' method='POST' action='/storiesapp/login/'>
			{% csrf_token %}
			Username: <input type='text' name='username' value= "" size="50"><br />
			Password: <input type="password" name="password" value="" size="50"><br />

			<input type="submit" value=" Login! " />
		</form>
	</body>
</html>

<!--<!DOCTYPE html>
<html>
	<head>
		<title>Stories - Tell your life with pictures</title>
	</head>
	<body>
		<font size='6'>Stories - Login to your account</font><br>
		<p>Your life isn't a straight timeline. It's organic. It's all over the place. <br>Tell that story with Stories, with clips of pictures that say everything.</p>
		<a href='/storiesapp/'>Stories</a><br>
		<a href='/storiesapp/login/'>Login</a><br>
		<a href='/storiesapp/register/'>Register</a>
	</body>
</html>-->