{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Stories - Tell your life with pictures</title>
		<link href="{% static "css/main.css" %}" rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/addstory.js" %}"></script>
		</head>
	<body>
		<h1><a href='/storiesapp/'><font color='black'>Stories</font></a> - Register for an account</h1>
		<p>Your life isn't a straight timeline. It's organic. It's all over the place. Tell that story with Stories, with clips of pictures that say everything.</p>
		{% if registered %}
			Thanks for registering!<br/>
			<a href="/storiesapp/">Stories homepage</a><br />
		{% else %}
			<form id='user_form' method='POST' action='/storiesapp/register/' enctype='multipart/form-data'>
				{% csrf_token %}

				{{ user_form.as_p }}
				{{ profile_form.as_p }}

				<input type='submit' name='submit' value=" Join Stories! " />
			</form>
		{% endif %}
	</body>
</html>


<!--<!DOCTYPE html>
<html>
	<head>
		<title>Stories - Tell your life with pictures</title>
	</head>
	<body>
		<font size='6'>Stories - Register for an account</font><br>
		<p>Your life isn't a straight timeline. It's organic. It's all over the place. <br>Tell that story with Stories, with clips of pictures that say everything.</p>
		<a href='/storiesapp/'>Stories</a><br>
		<a href='/storiesapp/login/'>Login</a><br>
		<a href='/storiesapp/register/'>Register</a>
	</body>
</html>-->